/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.fullScreen {
  flex-grow: 1;
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-width: 996px;
  margin: 0 auto;
  gap: 2rem;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.textCenter {
  text-align: center;
}